@import "variables";

/*******************************************/
/* Tooltip container popper parent element */
/*******************************************/

/* Tooltip container styling */

#highlight-tooltip {
  background: $color-dark;
  padding: 4px 8px;
  border-radius: 4px;
  display: none;
}

/* Tooltip visibility control */

#highlight-tooltip[data-show] {
  display: block;
  animation: fade-in .5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Tooltip arrow */

#highlight-tooltip-arrow,
#highlight-tooltip-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#highlight-tooltip-arrow::before {
  content: '';
  transform: rotate(45deg);
  background: $color-dark;
}

#highlight-tooltip[data-popper-placement^='top'] > #highlight-tooltip-arrow {
  bottom: -4px;
}

#highlight-tooltip[data-popper-placement^='bottom'] > #highlight-tooltip-arrow {
  top: -4px;
}

#highlight-tooltip[data-popper-placement^='left'] > #highlight-tooltip-arrow {
  right: -4px;
}

#highlight-tooltip[data-popper-placement^='right'] > #highlight-tooltip-arrow {
  left: -4px;
}

/**********************************************/
/* Individual tooltip button child element(s) */
/**********************************************/

/* Tweet link */

.highlight-tooltip-link-tweet {
  color: $color-white;
  &:visited {
    color: $color-white;
  }

  &:hover {
    color: $color-gray-extra-light;
  }
}
